<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hand_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import hand_robot urdf file -->
    <xacro:include filename="$(find hand_description)/urdf_hand/my_robot.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="hand_robot.ros2_control.xacro" />


    <xacro:hand_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
