<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


<link name="base_thumb"/>

    <link name="thumb_base">

        <visual>
            <geometry>
                <box size="0.020 0.018 0.035"/>
            </geometry>
            <origin xyz="0 0 0.0175" rpy="0 0 0"/>
            <material name="blue"/>
        </visual>

        <collision>
            <geometry>
                <box size="0.020 0.018 0.035"/>
            </geometry>

            <origin xyz="0 0 0.0175" rpy="0 0 0"/>
        </collision>

    </link>



    <link name="thumb_middle">

        <visual>
            <geometry>
                <box size="0.020 0.018 0.030"/>
            </geometry>
            <origin xyz="0 0 0.015" rpy="0 0 0"/>
            <material name="dark_green"/>
        </visual>

        <collision>
            <geometry>
                <box size="0.020 0.018 0.030"/>
            </geometry>

            <origin xyz="0 0 0.015" rpy="0 0 0"/>
        </collision>

    </link>


    <!-- <link name="thumb_tip">

        <visual>
            <geometry>
                <box size="0.020 0.018 0.030"/>
            </geometry>

            <origin xyz="0 0 0.015" rpy="0 0 0"/>
        </visual>

        <collision>
            <geometry>
                <box size="0.020 0.018 0.030"/>
            </geometry>

            <origin xyz="0 0 0.015" rpy="0 0 0"/>
        </collision>

    </link> -->


    <joint name="base_to_base_thumb" type="revolute">

        <parent link="base_thumb"/>
        <child link="thumb_base"/>

        <!-- End of 45 mm base segment -->
        <origin xyz="0 0 0" rpy="0 0 0"/>

        <axis xyz="1 0 0"/>

        <limit
            effort="1000.0"
            velocity="1.0"
            lower="-1.57"
            upper="0.57"/>

    </joint>


    <joint name="thumb_base_to_middle" type="revolute">

        <parent link="thumb_base"/>
        <child link="thumb_middle"/>

        <!-- End of 35 mm proximal segment -->
        <origin xyz="0 0 0.035" rpy="0 0 0"/>

        <axis xyz="1 0 0"/>

        <limit
            effort="1000.0"
            velocity="1.0"
            lower="-1.57"
            upper="0.57"/>

    </joint>

<!-- 
    <joint name="thumb_middle_to_tip" type="revolute">

        <parent link="thumb_middle"/>
        <child link="thumb_tip"/>

        <origin xyz="0 0 0.030" rpy="0 0 0"/>

        <axis xyz="1 0 0"/>

        <limit
            effort="1000.0"
            velocity="1.0"
            lower="-1.57"
            upper="1.57"/>

    </joint> -->

</robot>